:root {
  --black-color: #000121;
  --orange-color: #f47500;
  --blue-color: #002fd6;
  --dark-gray-color: #707183;
  --light-gray-color: #f8f8fc;
  --middle-gray-color: #a1a2af;
  --background-color: #f6f7fa;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

header {
  display: flex;
  justify-content: center;
  margin: 96px 0;
}

h1 {
  font-size: 22px;
  font-weight: 600;
}

.inline-badge {
  background-color: var(--orange-color);
  color: #fff;
  border-radius: 100px;
  padding: 4px 8px;
  font-size: 14px;
  margin: 0 8px;
}

#main-content {
  padding: 0 96px;
}
